@model HotelManagement.Models.RoomRateViewModel

@{
    ViewData["Title"] = "Edit Room Rate";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label for="RoomTypeId">Room Type</label>
        <select id="RoomTypeId" name="RoomTypeId" class="form-control">
           @*  @foreach (var roomRate in HotelManagement.Models.RoomRate ?? new List<HotelManagement.Models.RoomRate>())
            {
                <option value="@roomRate.Id">@roomRate.RoomType?.Name</option> <!-- Sigurohuni që RoomType është i sigurt për të përdorur -->
            } *@
        </select>
    </div>

    <div class="form-group">
        <label for="Cmimi_baze">Price</label>
        <input type="number" id="Cmimi_baze" name="Cmimi_baze" class="form-control" value="0" required />
    </div>

    <div class="form-group">
        <label for="WeekendSurcharge">Weekend Surcharge</label>
        <input type="number" id="WeekendSurcharge" name="WeekendSurcharge" class="form-control" value="0" required />
    </div>

    <div class="form-group">
        <label for="HolidaySurcharge">Holiday Surcharge</label>
        <input type="number" id="HolidaySurcharge" name="HolidaySurcharge" class="form-control" value="0" required />
    </div>

    <button type="submit" class="btn btn-success">Update</button>
</form>
